body{
  background-color:rgb(247, 161, 180);
}

@font-face {
    font-family: 'CustomFont';
    src: url('ChildrenTittle.ttf') format('truetype');
  }
@tailwind base;
@tailwind components;
@tailwind utilities;